{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'head.html' %}
    <title>Bachelor Project - Homepage</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    {% if context_basic.search_bar %}
                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                {% include 'top_bar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Homepage</h1>
                    </div>

                    <div class="row">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                                Total number of portals</div>

                                            <hr>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{context_admin.number_of_active_portals}} Active portals</div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                                Top 3 portals</div>
                                                {% for portal in context_admin.most_login_portals %}
                                                <hr>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{portal.portal_name}}</div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 align-items-right">{{portal.number_of_logins}} Actions</div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                        </div> 
                                    </div>  
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                                Most active portals</div>
                                                {% for portal in context_admin.most_login_portals %}
                                                <hr>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{portal.portal_name}} </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 align-items-right">{{portal.number_of_logins}} Logins</div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                                Latest portals created</div>
                                                {% for portal in context_admin.latest_portals %}
                                                <hr>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{portal}}</div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <div class="col-lg-6 mb-4">

                            <!-- Bar Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Total number of users per month</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4">
                            <!-- Area Chart -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Total number of students per month</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <canvas id="myAreaChart"></canvas>
                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>


                            

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal -->
    {% include 'logout_modal.html' %}
    <!-- End of Logout Modal -->

    <!-- Js scripts -->
    {% include 'include_js_scripts.html' %}
    <!-- End of Js scripts -->

    <script type="text/javascript">
        var month_list = "{{context_admin.graph_months}}";
        
    </script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-bar-demo.js' %}"></script>

</body>

</html>